/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #070F2B; /* Dark background color for dark mode */
    color: #fff; /* Light text color for dark mode */
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
    background-color: #1B1A55; /* Slightly lighter container background */
    border-radius: 10px; /* Rounded corners for the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow for depth */
}

img {
    display: block;
    border-radius: 50%; /* Rounded corners for images */
    max-width: 30%; /* Ensure images don't overflow container */
    height: auto;
    margin: 0 auto;
}
@media (max-width:600px){
    #name{
        display:flex;
    }
}
p {
    margin-bottom: 20px;
}
#center{
    display: flex;
    justify-content: center;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #fff; /* Light text color for dark mode */
}

th {
    background-color: #535C91; /* Darker table header background color */
}

button {
    margin: 20px;
    background-color: #535C91; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:#98a1d5; /* Darker button background color on hover */
}

@media screen and (max-width: 600px) {
    
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    
    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-column);
        font-weight: bold;
    }
}

.container_skills {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #9290C3;
}

@media only screen and (max-width: 600px) {
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 6px;
        font-size: 14px;
    }
}

