/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #333; /* Dark background color for dark mode */
    color: #fff; /* Light text color for dark mode */
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
    background-color: #444; /* Slightly lighter container background */
    border-radius: 10px; /* Rounded corners for the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow for depth */
}

img {
    display: block;
    border-radius: 50%; /* Rounded corners for images */
    max-width: 50%; /* Ensure images don't overflow container */
    height: auto;
    margin: 0 auto;
}

p {
    margin-bottom: 20px;
}
#center{
    display: flex;
    justify-content: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #fff; /* Light text color for dark mode */
}

th {
    background-color: #666; /* Darker table header background color */
}

button {
    margin: 20px;
    background-color: #444; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555; /* Darker button background color on hover */
}

@media screen and (max-width: 600px) {
    
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    
    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-column);
        font-weight: bold;
    }
}


